<app-header></app-header>
<div>
<h3 style="margin-bottom: 40px;margin-left: 500px;">သဘောတူညီချက်</h3>
<ul style="margin-left: 200px;">
  <li><h4 style="margin-bottom: 20px;">အထက်တွင် ထည့်သွင်းထားသော အချက်အလက်များကို မှန်ကန်စွာ ဖြည့်စွက်ထားပါသည်။</h4></li>
  <li><h4 style="margin-bottom: 20px;">ပေးသွင်းသည့် ငွေများကို ပြန်လည်ထုတ်ယူ၍ မရပါကြောင်း သိရှိပါသည်။</h4></li>
  <li><h4 style="margin-bottom: 20px;">လိုင်စင်ကြေးအတွက် online payment ဝန်ဆောင်ခအဖြစ် ငွေ (၅၀၀) ကျပ်ကို လူကြီးမင်း၏အကောင့်မှ ပေးသွင်းရမည်ကို သိရှိပါသည်။</h4></li>
</ul>
</div>
<div>
<button style="margin-left: 200px;margin-top: 30px;width: 80px;" class="btn btn-primary" (click)="generate()">Continue</button>
<button style="margin-left: 20px;margin-top: 30px;width: 80px;" class="btn btn-primary" (click)="cancel()">Cancel</button>
</div>

