
<nav class="navbar navbar-default" style="height: 120px;background-color: #1fb0fb;">
    <div class="cotainer-fluid">
        <div class="navbar-header" style="width:100%;height: 400px;">
            <div class="row">
                   <div class="col-md-1">
                       <img src="/assets/img/images.png" width="120" height="110">
                   </div>
                    <div class="col-md-7" style="margin-top: 22px;margin-left: 35px;" >                                    
                             <span style="font-size: x-large;font-family:sans-serif;color:lavender;">DEPARTMENT OF INTELLECTUAL PROPERTY</span>
                             <br>
                            <span style="font-family:cursive;color:lavender;"> MINISTRY OF COMMERCE </span>
                    </div>
             </div>
          
             <div style="background-color: cadetblue; height: 40px;">
                <div class="dropdown">
                    <a href="#" class="dropbtn">WORKBENCH</a>                     
                </div>   
               
                <div class="dropdown">
                 <a href="#" class="dropbtn">SUBMISSION<span class="caret" style="margin-left: 10px;"></span></a>
                   <div class="dropdown-content">
                       <a href="#">SUBMISSION</a>
                       <a href="#">TRADEMARK</a>
                       <a href="#">POST FILING</a>
                   </div>
                </div>
                <div class="dropdown">
                    <a href="#" class="dropbtn">MY PROFILE<span style="margin-left: 10px;" class="caret"></span></a>
                      <div class="dropdown-content">
                          <a href="#">MY PROFILE</a>
                          <a href="#">USER PERFERENCES</a>
                          <a href="#">EDIT PROFILE</a>
                          <a href="#">USER ASSOCIATION</a>
                          <a href="#">CHANGE PASSWORD</a>
                      </div>
                </div>

                <div class="dropdown">
                    <a href="#" class="dropbtn">NOTIFICATIONS</a>                     
                </div>        
                   
            </div>

           <h3 style="margin-left: 120px;margin-top: 100px;">ပေးချေလိုသည့် Payment အမျိုးအစားကို ရွေးချယ်ပါ။</h3>
           <div class="row" style="margin-left: 110px;margin-top: 40px;" >
              <img src="/assets/img/visa.png" style="width:230px;height:160px;margin-right: 50px;" (click)="success()" class="hover-shadow cursor">
              <img src="/assets/img/master_logo.png" style="width:230px;height:160px;margin-right: 50px;" (click)="fail()" class="hover-shadow cursor">
              <img src="/assets/img/mpu.jpg" style="width:230px;height:160px;margin-right: 50px;" (click)="payment()" class="hover-shadow cursor">
              <img src="/assets/img/cbpay.jpg" style="width:230px;height:160px;margin-right: 50px;" (click)="cbPay()" class="hover-shadow cursor">

            </div>
        </div>
    </div>
</nav>





